# package directories
node_modules/
jspm_packages
.pnpm-store

# build directories
.esbuild
dist/
.build/
coverage/
logs/

# Serverless directories
.serverless

# secrets
*.env
*.env.*
!.env.example
*.npmrc

# logs
*-error.log
*-debug.log

# misc
.DS_Store
.eslintcache
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# aws
.aws-credentials
.aws-config
